button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

a {
  text-transform: uppercase;
  font-size: 17px;
  color: #ffffff80;
  text-shadow: none;
  transition: 0.5s ease;
  text-decoration: none;
}

#btn:hover,
:focus {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
    0 0 20px #008cff,
    0 0 50px #008cff,
    0 0 100px #008cff;
}

#btn:hover a {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 300px auto;
}

body {
  background: #000000db;
}

@media (max-width: 1200px) {}


@media (max-width: 1024px) {
  .container{
    margin: 250px auto;
  }
}


@media (max-width: 920px) {}


@media (max-width: 768px) {}


@media (max-width: 576px) {
  .container{
    margin: 200px auto;
  }
}


@media (max-width: 480px) {}


@media (max-width: 320px) {}